body {
    background-image: url(C:\Users\carlo\OneDrive\Escritorio\Projects\starwars-blog-react\src\img\deathstar.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
