body {
    padding: 80px;
    animation-name: STAR-MOVE;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
}

.w-50{
    width: 5%;
    z-index: 1;
    opacity: 1;
  

    background: transparent;
    animation: float 4s infinite ease-in-out;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  
    50% {
      transform: translateY(1rem);
      -webkit-transform: translateY(1rem);
    }
  
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }     